

.modal .modal-xl {
  max-width: 80%;
}

.modal { overflow: auto !important; }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spaco-select {

    margin-left: 15%; 
}


@keyframes hide {
  
  from { opacity: 1 }
  to   { opacity: 0 }
}




.alert {
  
  animation: hide 3s 3s forwards;

}


.logo {
  width: 6%;
  padding: 0.5%;
  text-align: center; 
  }

.corFundo1 {
  background-color: #dddbb8;
}

.centralizar {
  text-align:center;
}

.botaoPrincipal{
  width: 30%;
  height: 30%;
  padding: 3%;
  margin: 3%;
}

.marginRight{
  margin-left: 50%;
}

.espacoForm{
  margin-top: 1%;
  margin-bottom: 1%;
}


.container1{
  margin:1%;
  padding: 1%;
  border-radius: 10px;
  background-color: #ede7e7;
  border: 1px solid grey;
}

.telaLogin{
   width: 400px;
     height: 300px;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-top: -200px;
     margin-left: -200px;
  }



/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .fonteResponsiva{
        font-size: 10px;
    }

       .logo {
  width: 7%;
  height: 7%;
  padding: 0.5%;
  text-align: center; 
  }

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .fonteResponsiva{
        font-size: 12px;
    }
     .logo {
  width: 7%;
  height: 7%;
  padding: 0.5%;
  text-align: center; 
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .fonteResponsiva{
        font-size: 14px;
    }
    .spaco-select {

    margin-left: 3%; 
}
     .logo {
  width: 7%;
  height: 7%;
  padding: 0.5%;
  text-align: center; 
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .fonteResponsiva{
        font-size: 10px;
    }

    .spaco-select {

    margin-left: 2%; 
}
      .logo {
  width: 10%;
  height: 10%;
  padding: 0.5%;
  text-align: center; 
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .fonteResponsiva{
        font-size: 10px;
    }

    .spaco-select {

    margin-left: 1%; 
}
      .logo {
  width: 12%;
  height: 12%;
  padding: 0.5%;
  text-align: center; 
  }
}